# C++ / CMake build artifacts
# -----------------------------
/backend/build/
*.o
*.a
*.so
*.dll
*.exe
*.ilk
*.pdb

# Secrets
# -----------------------------
/backend/config.h

# Common Editor & OS files
# -----------------------------
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Log files
# -----------------------------
*.log
